 body{
    background-color: rgb(51, 49, 49);
    padding-top: 50px;
    }
.campo{
    color: antiquewhite;
}
.form-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 colunas lado a lado */
      gap: 16px;
      margin-top: 10px;
    }